body {
  margin: 0px;
  padding:0px;
  width: 100%;
  height: 100%;
  font-family: "游ゴシック","arial unicode ms",sans-serif;
}

header {
  height: 100px;
  background-image: url("haikei3.jpg") ;
  background-repeat:no-repeat;
  background-size:cover;
  margin: 0px;
  padding: 0px;
  width: 100%;
  z-index: 2;
}

footer{
  position: relative;
  background-image: url("haikei4.png");
  background-repeat:no-repeat;
  background-size:cover;
  bottom: 0;
  color:black;
  height: 100px;
  z-index: 2;
}


main{
  position: relative;
  display: grid;
  grid-template-columns: 33% 33% auto;
  grid-template-rows: 400px 700px auto;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
}

.kousin{
    position: absolute;
    margin: 0px;
    top: 350px;
    right: 105px;
}

.live{
  position: absolute;
  margin: 0px;
  top: 5px;
  right: 175px;
}

.movie{
  position: absolute;
  margin: 0px;
  top: 5px;
  left: 175px;
}

.min{
  font-size: 2px;
}


.content{
  text-align: center;
  background:rgb(250, 250, 196);
  grid-column: 1/4;
  grid-row:1/2;
  border-bottom: solid 1px;
  z-index: 1;
  width: 100%;
}

.top-text{
  position: absolute;
  height: 300px;
  width: 770px;
  left: 550px;
}

.top-text p{
  display: block;
}

h1{
  margin: 0px;
  display: inline-block;
}

h2{
  margin: 0px;
}

.rule{
  position: absolute;
  bottom: 0px;
}
h3{
  margin: 0px;
  display: inline-block;
}

p{
  margin: 0px;
  display: inline-block;
}

.youtube1 {
  position: absolute;
  margin: auto 0px;
  right: 50px;
  padding: 0px;
  display: block;
}

.youtube2 {
  position: absolute;
  margin: auto 0px;
  left: 50px;
  padding: 0px;
  display: block;
}
.steam{
  background-color: rgb(237, 238, 157);
  grid-column: 1/2;
  grid-row: 2/3;
  z-index: 0;
}

.snes{
  background-color: rgb(237, 238, 157);
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 0;
}

.gba{
  background-color: rgb(237, 238, 157);
  grid-column: 3/4;
  grid-row: 2/3;
  z-index: 0;
}

h2{
  text-align: center;
  margin: 20px 0px auto;
}

.cleargame{
  height: 500px;
  width: 300px;
  margin: 0px auto;
  border: solid 2px black;
}

p1{
  margin: 0px 0px;
  display: block;
}


audio {
  display: none
}
#btn_play, #btn_pause,#btn_mute {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: pink;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
#play:hover, #stop:hover {
  background: #eee;
}